* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, rgb(110, 247, 217) 0%, #4ab2f7 100%);
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
}

#register-banner {
  background: url("../img/form.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
}

#banner-layer {
  background-color: rgba(25, 11, 122, 0.6);
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
}

#register-banner h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #fff;
  word-spacing: 50rem;
}

#register-form {
  background-color: #fdfdfd;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#register-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#register-form p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #aaa;
  font-size: 0.8rem;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* Erro ou sucesso no preenchimento dos inputs */
.form-control.success input {
  border-bottom: 1px solid #81d340;
}

.form-control.error input {
  border-bottom: 1px solid #e74c3c;
}

.form-control.success i.bi-check-circle-fill {
  color: #81d340;
  visibility: visible;
}

.form-control.error i.bi-exclamation-circle-fill {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

#generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#generate-password:hover {
  color: #0099ff;
}

#register-form #generated-password {
  border: 1px solid #0099ff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}

#register-form #generated-password p {
  color: #81d340;
  margin-bottom: 0.5rem;
}

#register-form input[type="submit"] {
  background-color: #81d340;
  color: #fff;
  opacity: 0.8;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  max-width: 150px;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.4s;
}

#register-form input[type="submit"]:hover {
  opacity: 1;
}
